<html>
<head>
<script>
function affichage(){
	alert("Tout es OK !");
	if(document.getElementById('image1Image').checked){
		<img src="{{ url_for('static', filename='images/1.jpg') }}" alt="Logo">
		}
	if(document.getElementById('image2Image').checked){
		<img src="{{ url_for('static', filename='images/2.jpeg') }}" alt="Logo">
		}
	if(document.getElementById('image3Image').checked){
		<img src="{{ url_for('static', filename='images/3.jpg') }}" alt="Logo">
		}
}
function cacher(){
	document.getElementById('DuTexte').style.display="None";
}
function presenter(){
	document.getElementById('DuTexte').style.display="Block";
}

function controler(){
	if(document.getElementById('Control').checked){
			alert("Bouton option coché");
		}
	else{alert("Bouton option NON coché");}		
}

</script>
</head>
<body>
<h1>Mes outils</h1>
<hr/>
<h2>Boite de dialogue</h2>
<button onclick="affichage()">Afficher</button>
<hr/>
<p id="DuTexte">Ma phrase de texte</p>
<button onclick="presenter()">Presenter</button>
<button onclick="cacher()">Cacher</button>
<hr/>
<p>Image1<input type="checkbox" id="image1Image"></p>
<p>Image2<input type="checkbox" id="image2Image"></p>
<p>Image3<input type="checkbox" id="image3Image"></p>
<button onclick="controler()">Check</button>

 <h1>Image Example</h1>
    <img src="{{ url_for('static', filename='images/1.jpg') }}" alt="Logo">



</body>
</html>
